{% extends 'layout.html' %} {% block body %}
<div class="container mx-auto mt-4">
  <div class="w-fit mx-auto px-2 py-0 rounded-sm mt-6 text-center">
    <a
      href="/"
      class="text-xl md:text-4xl font-bold mb-4 select-none shadow-lg bg-yellow-200 text-neutral-900"
    >
      Whose {{domain}} Is It Anyway?
    </a>
  </div>
  <div class="mt-8 w-5/6 mx-auto">
    <div class="flex justify-between my-2">
      <div>Country</div>
      <div class="text-sm ml-4">{{result.country}}</div>
    </div>
    <div class="flex justify-between my-2">
      <div>City</div>
      <div class="text-sm ml-4">{{result.city}}</div>
    </div>
    <div class="flex justify-between my-2">
      <div>Address</div>
      <div class="text-sm ml-4">{{result.address}}</div>
    </div>
    <div class="flex justify-between my-2">
      <div>Creation Date</div>
      <div class="text-sm ml-4 bg-yellow-200 text-neutral-900 shadow-lg">{{result.creation_date}}</div>
    </div>
    <div class="flex justify-between my-2">
      <div>Expiration Date</div>
      <div class="text-sm ml-4 bg-yellow-200 text-neutral-900 shadow-lg">{{result.expiration_date}}</div>
    </div>
    <div class="flex justify-between my-2">
      <div>Organization</div>
      <div class="text-sm ml-4">{{result.org}}</div>
    </div>
    <div class="flex justify-between my-2">
        <div>Registrar</div>
        <div class="text-sm ml-4 bg-yellow-200 text-neutral-900 shadow-lg">{{result.registrar}}</div>
      </div>
    <div class="flex justify-between my-2">
      <div>Registrant Postal Code</div>
      <div class="text-sm ml-4">{{result.registrant_postal_code}}</div>
    </div>
      <div class="flex justify-between my-2">
        <div>Name</div>
        <div class="text-sm ml-4">{{result.name}}</div>
      </div>
      <div class="flex justify-between my-2">
        <div>Whois Server</div>
        <div class="text-sm ml-4">{{result.whois_server}}</div>
      </div>
      <div class="flex justify-between my-2">
        <div>Emails</div>
        <div class="text-sm ml-4">{{result.email}}</div>
      </div>
      <div class="flex justify-between my-2">
        <div>DNSSEC</div>
        <div class="text-sm ml-4">{{result.dnssec}}</div>
      </div>
      <div class="flex justify-between my-2">
        <div>Name Servers</div>
        <div class="text-sm ml-4">{% for nameServer in result.name_servers %} <div class="block">{{nameServer}}</div> {% endfor %}</div>
      </div>
      <a href="/raw/{{domain}}" target="_blank" class="text-xl text-center hover:text-yellow-300 duration-150 mt-4 w-fit mx-auto">Click to view full <span class="bg-yellow-200 text-neutral-900 shadow-lg">JSON</span> file</a>
    </div>
</div>

{% endblock body %}
