{% extends 'layout.html' %} {% block body %}
<div class="container mx-auto mt-4">
  <div class="w-fit mx-auto px-2 py-0 rounded-sm mt-6 text-center">
    <a
      href="/"
      class="text-center text-xl md:text-4xl font-bold mb-4 select-none shadow-lg bg-yellow-200 text-neutral-900"
    >
      Whose Domain Is It Anyway?
    </a>
  </div>

  <div class="w-fit mx-auto mt-12 text-center">
    <input
      autocomplete="off"
      type="text"
      placeholder="Enter a domain name..."
      id="inputContent"
      class="bg-transparent border border-yellow-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-yellow-500 duration-150"
    />
    <br />
    <button
      onclick="redirectToCheck()"
      class="text-xl hover:text-yellow-300 duration-150 mt-4"
    >
      Lookup
    </button>
  </div>

  <script>
    function redirectToCheck() {
      var inputContent = document.getElementById("inputContent").value;
      window.location.href = "/check/" + inputContent;
    }
  </script>
  {% endblock body %}
</div>
